<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="TOPSUN.ERP.SystemFrameworks.ApplicationConfiguration, TOPSUN.ERP.SystemFrameworks"/>
    <section name="ERPConfiguration" type="TOPSUN.ERP.Common.ERPConfiguration, TOPSUN.ERP.Common"/>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="TOPSUN.YunkeService.ProcessStep">
        <endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="TOPSUN.YunkeService.IProcessStep"/>
      </service>
      <service name="TOPSUN.YunkeService.BasicInfo">
        <endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="TOPSUN.YunkeService.IBasicInfo"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <ApplicationConfiguration/>
  <ERPConfiguration>
    <add key="DBConnectionString" value="Data Source=ZHIZ-ThinkPad;database=YunkeERP;User ID=sa;password=uuan92h1"/>
    <add key="CardPrinterName" value="ZDesigner GK888t (EPL)"/>
  </ERPConfiguration>
</configuration>